.kanban__main {
  background-color: var(--colorNav);
  grid-area: main;
  position: relative;
}

.kanban__main-wrapper {
  background-color: var(--colorNav);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 50px 0 50px;
}

.kanban__main-wrapper-opacity {
  background-color: var(--colorNav);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 50px 0 50px;
  opacity: 0.2;
}

.backlog-color {
  background-image: linear-gradient(#f6f8fc, #f6f8fc),
    radial-gradient(circle at top left, #c781ff, #e57373);
}

.in-progress-color {
  background-image: linear-gradient(#f6f8fc, #f6f8fc),
    radial-gradient(circle at top left, #ff9985, #ffb74e);
}

.review-color {
  background-image: linear-gradient(#f6f8fc, #f6f8fc),
    radial-gradient(circle at top left, #9ea7fc, #6eb4f7);
}

.complete-color {
  background-image: linear-gradient(#f6f8fc, #f6f8fc),
    radial-gradient(circle at top left, #81d5ee, #7ed492);
}

.card-wrapper {
  margin-bottom: 30px;
  box-shadow: 0px 0px 10px 0px #d2d7e0;
  width: 280px;
  height: 100%;
  border-top: double 4px transparent;
  border-radius: 5px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-wrapper__header {
  display: flex;
  justify-content: space-between;
  margin: 15px 10px;
}

.backlog-name {
  color: var(--colorName);
  font-size: 20px;
  font-weight: 400;
}

.backlog-dots {
  color: var(--colorName);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.backlog-dots i {
  width: 20px;
}

.backlog-dots:hover {
  color: var(--colorLogo);
}

.card-wrapper__footer {
  display: flex;
  justify-content: center;
  margin: 15px 0 15px 0;
  color: var(--colorBarW);
}

.card-wrapper__footer-false {
  display: none;
}

.add-task {
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.add-task-ico {
  margin-left: 7px;
  font-size: 20px;
  cursor: pointer;
}

.card-wrapper__footer:hover {
  color: var(--colorLogo);
}

.add-card-form__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.form__low-pr {
  font-size: 12px;
  color: var(--colorWhite);
  border-radius: 3px;
  height: 20px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--colorBar);
}

.form__low-pr input[type="radio"]:checked + .form__label {
  background: linear-gradient(90deg, #9ea7fc 17%, #6eb4f7 83%);
}

.form__label {
  position: relative;
  font-size: 12px;
  color: var(--colorWhite);
  border-radius: 3px;
  height: 20px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--colorBar);
}

.form__checkbox {
  opacity: 0;
  width: 80px;
  height: 20px;
  position: absolute;
  z-index: 1;
  cursor: pointer;
}

.form__med-pr {
  font-size: 12px;
  color: var(--colorWhite);
  border-radius: 3px;
  height: 20px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--colorBar);
}

.form__med-pr input[type="radio"]:checked + .form__label {
  background: linear-gradient(138.6789deg, #81d5ee 17%, #7ed492 83%);
}

.form__high-pr {
  font-size: 12px;
  color: var(--colorWhite);
  border-radius: 3px;
  height: 20px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--colorBar);
  cursor: pointer;
}

.form__high-pr input[type="radio"]:checked + .form__label {
  background: linear-gradient(138.6789deg, #c781ff 17%, #e57373 83%);
}

.add-card-form {
  display: none;
  flex-direction: column;
  padding: 0 0 10px 0;
  width: 260px;
}

.add-card-form-true {
  display: flex;
}

.add-card-form__main {
  resize: none;
  border: none;
  padding: 10px;
  color: var(--colorName);
  outline-color: var(--colorWhite);
  border-radius: 5px;
  height: 40px;
  margin: 10px 0 10px 0;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}

.add-card-form__main-error {
  outline-color: pink;
}

.add-card-form__main::placeholder {
  color: var(--colorBarW);
  font-style: italic;
  font-size: 13px;
}

.add-card-form__footer {
  display: flex;
  justify-content: space-between;
  height: 30px;
  align-items: center;
}

.form__footer {
  display: flex;
}

.form__footer-av {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.form__footer-av img {
  width: 20px;
  height: 20px;
  border-radius: 20px;
}

.add-card-form:hover .form__del {
  display: flex;
}

.form-add-btn:disabled {
  border: none;
  color: var(--colorWhite);
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  outline: none;
  cursor: not-allowed;
  background: var(--colorBar);
}

.form-add-btn:enabled {
  border: none;
  color: var(--colorWhite);
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background: var(--colorLogo);
  transition: 0.4s;
}

.form-add-btn:enabled:hover {
  box-shadow: 0px 0px 10px 0px var(--colorLogo);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.3);
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards-false {
  display: none;
}

.card {
  border-radius: 5px;
  border: 1px dashed var(--colorWhite);
  background-color: var(--colorWhite);
  width: 260px;
  height: auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: url(https://ssl.gstatic.com/ui/v1/icons/mail/images/2/openhand.cur),
    default !important;
}

.card-dragging {
  border: 1px dashed var(--colorBarW);
  background: repeating-linear-gradient(
    45deg,
    white,
    white 5px,
    var(--colorNav) 5px,
    var(--colorNav) 10px
  );
}

.cards-dropping {
  background: repeating-linear-gradient(
    45deg,
    white,
    white 5px,
    var(--colorNav) 5px,
    var(--colorNav) 10px
  );
  background-clip: content-box, border-box;
}

.card__header {
  display: flex;
  justify-content: space-between;
}

.card-container-color {
  border-radius: 3px;
  height: 20px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 15px 10px;
}

.card-color-low {
  background: linear-gradient(90deg, #9ea7fc 17%, #6eb4f7 83%);
}

.card-color-high {
  background: linear-gradient(138.6789deg, #c781ff 17%, #e57373 83%);
}

.card-color-med {
  background: linear-gradient(138.6789deg, #81d5ee 17%, #7ed492 83%);
}

.card__header-priority {
  color: var(--colorWhite);
  font-size: 12px;
  font-weight: 400;
}

.card__header-clear {
  color: var(--colorBarW);
  margin: 10px 10px 0 0;
  cursor: pointer;
  font-size: 18px;
  display: none;
}

.card__header-clear:hover {
  color: var(--colorLogo);
}

.card:hover .card__header-clear {
  display: flex;
}

.card__text {
  color: var(--colorName);
  font-size: 16px;
  font-weight: 400;
  margin: 0 10px;
  word-wrap: break-word;
}

.card__menu {
  display: flex;
  justify-content: space-between;
  margin: 15px 0 10px 10px;
}

.card__menu-left {
  width: 65px;
  display: flex;
  justify-content: space-between;
}

.comments-wrapper,
.attach-wrapper {
  display: flex;
}

.comments-ico,
.comments-num,
.attach-ico,
.attach-num {
  color: var(--colorBarW);
  display: flex;
  align-items: center;
}

.comments-ico,
.attach-ico {
  font-size: 13px;
}

.comments-num,
.attach-num {
  font-size: 14px;
  margin-left: 5px;
}

.card__menu-right {
  display: flex;
  align-items: center;
}

.img-avatar {
  width: 30px;
  height: 30px;
  margin: 0 10px 0 5px;
}

.img-avatar img {
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

.add-peoples {
  color: var(--colorBarW);
  width: 28px;
  height: 28px;
  border: 1px dashed var(--colorBarW);
  border-radius: 50px;
  position: relative;
  font-size: 20px;
  cursor: pointer;
}

.add-peoples i {
  position: absolute;
  top: 4px;
  left: 4px;
}

.add-peoples:hover {
  border: 1px dashed var(--colorLogo);
  color: var(--colorLogo);
}

.kanban__main-add-btn {
  border-radius: 80px;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 91%;
  left: 94%;
  cursor: pointer;
  background: linear-gradient(45deg, #9ea7fc 0%, #65b6f7 100%);
  box-shadow: 0px 0px 20px 0px #9ea7fc;
  transition: 0.4s;
}

.kanban__main-add-btn i {
  font-size: 25px;
  position: absolute;
  top: 12.5px;
  left: 12.5px;
  color: var(--colorWhite);
}

.kanban__main-add-btn:hover {
  box-shadow: 0px 0px 60px 0px #9ea7fc;
}

.kanban__main-select {
  display: flex;
}

.main-select {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 78%;
  left: 83.6%;
  width: 180px;
}

.select-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  cursor: pointer;
}

.select-wrapper-main {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 12px;
  cursor: pointer;
}

.select-event-note-main {
  width: 35px;
  height: 35px;
  background-color: #ff9985;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-event-note {
  width: 35px;
  height: 35px;
  background-color: #e57373;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-event-note-main i {
  color: var(--colorWhite);
  font-size: 18px;
}

.select-event-note i {
  color: var(--colorWhite);
  font-size: 18px;
}

.select-text-main {
  box-shadow: 0px 0px 10px 0px #d2d7e0;
  background-color: #f6f8fc;
  border-radius: 5px;
  color: var(--colorName);
  padding: 3px 10px;
  font-size: 13px;
  height: 18px;
  margin-right: 10px;
}

.select-text {
  box-shadow: 0px 0px 10px 0px #d2d7e0;
  background-color: #f6f8fc;
  border-radius: 5px;
  color: var(--colorName);
  padding: 3px 10px;
  font-size: 13px;
  height: 18px;
}

.article-enter {
  opacity: 0.01;
}

.article-enter.article-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.article-leave {
  opacity: 1;
}

.article-leave.article-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

@media screen and (max-width: 820px) {
  .kanban__main-wrapper {
    justify-content: space-around;
    margin: 0px;
  }
}

@media screen and (max-width: 1380px) {
  .kanban__main-add-btn {
    display: none;
  }
}
