.kanban__logo {
  background-color: var(--colorLogo);
  grid-area: logo;
  font-weight: 700;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  color: var(--colorWhite);
  cursor: pointer;
}

.kanban__logo span {
  margin: 0 5px;
}
